:root{
    --primary:#9381FF;
    --secondary:#e7e7ff;
    --success:#83ff81;
    --faild:#ff8181;
    --info:#FFD8BE;
    --warning:#ffe281;
    --light:#F8F7FF;
    --dark:#1e1e1e;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.bg-secondary{
    background-color: var(--secondary)!important;
}

.bg-success{
    background-color: var(--success)!important;
}

.bg-faild{
    background-color: var(--faild)!important;
}

.bg-info{
    background-color: var(--info)!important;
}

.bg-warning{
    background-color: var(--warning)!important;
}

.bg-light{
    background-color: var(--light)!important;
}

.bg-dark{
    background-color: var(--dark)!important;
}

.text-primary{
    color: var(--primary)!important;
}

.text-secondary{
    color: var(--secondary)!important;
}

.text-success{
    color: var(--success)!important;
}

.text-faild{
    color: var(--faild)!important;
}

.text-info{
    color: var(--info)!important;
}

.text-warning{
    color: var(--warning)!important;
}

.text-light{
    color: var(--light)!important;
}

.text-dark{
    color: var(--dark)!important;
}

.border-primary{
    border-color: var(--primary)!important;
    border: 1px solid;
}

.border-secondary{
    border-color: var(--secondary)!important;
}

.border-success{
    border-color: var(--success)!important;
}

.border-faild{
    border-color: var(--faild)!important;
}

.border-info{
    border-color: var(--info)!important;
}

.border-warning{
    border-color: var(--warning)!important;
}

.border-light{
    border-color: var(--light)!important;
}

.border-dark{
    border-color: var(--dark)!important;
}
